Q1-

ineruon 

ineruon ineruon 

ineruon ineruon ineruon

ineruon ineruon ineruon ineruon

In [4]:
s="ineruon"
n=4
for i in range(n):
    for j in range(0,i+1):
        print(s, end =" ")
    print()

ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [5]:
s="ineuorn"
n=3
for i in range(n-1):
    for j in range(i,n):
        print(' '*len(s), end=' ')
    for j in range(i):
        print(s, end =' ')
    for j in range(i+1):
        print(s, end = ' ')
    print()
    
for i in range(n):
    for j in range(i+1):
        print(' '*len(s), end = ' ')
    for j in range(i,n-1):
        print(s, end =' ') 
    for j in range(i,n):
        print(s, end=' ')
    print()

                        ineuorn
                ineuorn ineuorn ineuorn
        ineuorn ineuorn ineuorn ineuorn ineuorn
                ineuorn ineuorn ineuorn
                        ineuorn

In [7]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

**q3 : Try to extract all the list entity**

In [8]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

**q4 : Try to extract all the dict enteties**

In [9]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

**q5 : Try to extract all the tuples entities**

In [10]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

**q6 : Try to extract all the numerical data it may b a part of dict key and values**

In [11]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [12]:
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list or type(i) == tuple or type(i) == set:
        for k in i:
            if type(k) == int or type(k) == float:
                print(k)
    
    elif type(i) == dict:
        print("dict iteration for numeric values:")
        for k,v in i.items():
            if type(k)==int or type(v)==int or type(k)==float or type(v)==float:
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
dict iteration for numeric values:
3
6
7
8

**q7 : Try to give summation of all the numeric data**

In [13]:
s=0
for i in l:
    if type(i) == int:
        s=s+i
    elif type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int or type(j) == float:
                s=s+j
    elif type(i) == dict:
        print("dict iteration for numeric values:")
        for k,v in i.items():
            if type(k)==int or type(v)==int or type(k)==float or type(v)==float:
                s=s+k
                s=s+v
print("Sum of numeric data:", s)

dict iteration for numeric values:
Sum of numeric data: 156

**q8 : Try to filter out all the odd values out all numeric data which is a part of a list**

In [14]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
lst=[]
for i in l:
    if type(i) == int:
        lst.append(i)
    elif type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int or type(j) == float:
                lst.append(j)
    
    elif type(i) == dict:
        #print("dict iteration for numeric values:")
        for k,v in i.items():
            if type(k)==int or type(v)==int or type(k)==float or type(v)==float:
                lst.append(k)
                lst.append(v)
print("Numeric values in the list:",lst)
odd_val=[]
for val in lst:
    if val%2!=0:
        odd_val.append(val)
print("Odd Values in the list:{}".format(odd_val))

Numeric values in the list: [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
Odd Values in the list:[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

**q9 : Try to extract "ineruon" out of this data**

In [15]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [16]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for val in i:
            if val == "ineuron":
                print(val)
    elif type(i) == dict:
        for k,v in i.items():
            if k=="ineuron" or v=="ineuron":
                print(k)
                print(v)

k2
ineuron
ineuron

**q10 :Try to find out a number of occurances of all the data**

In [17]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [18]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [19]:
lst=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for k in i:
            lst.append(k)
    elif type(i) == dict:
        
            
            print(lst)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]

In [20]:
d1={'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [21]:
d1

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [22]:
d1.items()

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [23]:
for i in d1.items():
    print(i)

('k1', 'sudh')
('k2', 'ineuron')
('k3', 'kumar')
(3, 6)
(7, 8)

In [24]:
for i in d1.items():
    print(list(i))

['k1', 'sudh']
['k2', 'ineuron']
['k3', 'kumar']
[3, 6]
[7, 8]

In [25]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [26]:
s="adsffsadfasfdsadfasdfasfd"
for i in set(s):
    print(i, s.count(i))

d 6
a 6
s 6
f 7

In [27]:
lst=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for k in i:
            lst.append(k)
    elif type(i) == dict:
        for j in i.items():
            lst=lst+list(j)    
print("Converted Origianl List:", lst)
print("-"*100)
lst2=[]
for i in lst:
    lst2.append(str(i))
print("Converted string values:",lst2)
print("Number of occurance of each items:")

for i in set(lst2):
    print(i, lst2.count(i))

Converted Origianl List: [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']
----------------------------------------------------------------------------------------------------
Converted string values: ['1', '2', '3', '4', '2', '3', '4', '5', '6', '3', '4', '5', '6', '7', '45', '4', '5', '23', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', '3', '6', '7', '8', 'ineuron', 'data science ']
Number of occurance of each items:
sudh 1
ineuron 2
2 2
kumar 1
4 4
1 1
data science  1
23 1
k3 1
7 2
6 3
k2 1
8 1
3 4
45 1
k1 1
5 3

**q11 : Try to find out number of keys in dict element**

In [28]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [29]:
for i in l:
    if type(i) == dict:
        print(i.items())

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [30]:
d1={'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8}
d1.keys()

dict_keys(['k1', 'k2', 'k3', 3, 7])

In [31]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [32]:
for i in l:
    if type(i) == dict:
        print(i.keys())

dict_keys(['k1', 'k2', 'k3', 3, 7])

In [33]:
for i in l:
    if type(i) == dict:
        print(list(i.keys()))

['k1', 'k2', 'k3', 3, 7]

In [34]:
for i in l:
    if type(i) == dict:
        print(len(list(i.keys())))

5

**q12 : Try to filter out all the string data**

In [35]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [36]:
str_data=[]
for i in l:
    if type(i) == str:
        str_data.append(i)
    elif type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                str_data.append(j)
    elif type(i) == dict:
        #print("dict iteration for numeric values:")
        for k,v in i.items():
            if type(k)==str or type(v)==str:
                str_data.append(k)
                str_data.append(v)
print("The string data are:{}".format(str_data))

The string data are:['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

**q13 : Try to Find  out alphanum in data**

In [37]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science"]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [38]:
txt = "123"

x = txt.isalnum()

print(x)

True

In [39]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science"]]
lst=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for k in i:
            lst.append(k)
    elif type(i) == dict:
        for j in i.items():
            lst=lst+list(j)    
print("Converted Origianl List:", lst)
print("-"*100)
lst2=[]
for i in lst:
    lst2.append(str(i))
print("Converted string values:",lst2)
print("-"*100)

str1=[]
for i in lst2:
    if i.isalnum() == True:
        str1.append(i)
else:
    print("The alpha numeric values are:{}".format(str1))
print("-"*100)

Converted Origianl List: [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']
----------------------------------------------------------------------------------------------------
Converted string values: ['1', '2', '3', '4', '2', '3', '4', '5', '6', '3', '4', '5', '6', '7', '45', '4', '5', '23', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', '3', '6', '7', '8', 'ineuron', 'data science']
----------------------------------------------------------------------------------------------------
The alpha numeric values are:['1', '2', '3', '4', '2', '3', '4', '5', '6', '3', '4', '5', '6', '7', '45', '4', '5', '23', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', '3', '6', '7', '8', 'ineuron']
----------------------------------------------------------------------------------------------------

**q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset**

In [40]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science"]]

l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [41]:
for i in l:
    print(i)

[1, 2, 3, 4]
(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
['ineuron', 'data science']

In [42]:
len(l)

6

In [43]:
from operator import mul
for i in l:
    print(i)
i=len(l)
print("Number of items in the list:", i)
print("-"*100)
print("Multiplication of numeric elements in the list")
#p=1
for i in range(i):
    print("list item {}: {}".format(i,l[i]))
    print("Multiplication of list elements:")
    p=1
    for j in l[i]:
        if type(j)==int:
            p=mul(p,j)
    print(p)

[1, 2, 3, 4]
(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
['ineuron', 'data science']
Number of items in the list: 6
----------------------------------------------------------------------------------------------------
Multiplication of numeric elements in the list
list item 0: [1, 2, 3, 4]
Multiplication of list elements:
24
list item 1: (2, 3, 4, 5, 6)
Multiplication of list elements:
720
list item 2: (3, 4, 5, 6, 7)
Multiplication of list elements:
2520
list item 3: {45, 4, 5, 23}
Multiplication of list elements:
20700
list item 4: {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
Multiplication of list elements:
21
list item 5: ['ineuron', 'data science']
Multiplication of list elements:
1

**q15 : Try to unwrape all the collection inside collection and create a flat list**

In [44]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science"]]
lst=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for k in i:
            lst.append(k)
    elif type(i) == dict:
        for j in i.items():
            lst=lst+list(j)    
print("Original List:", l)
print("-"*100)
print("Converted Origianl List:", lst)

Original List: [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science']]
----------------------------------------------------------------------------------------------------
Converted Origianl List: [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']